@use "./variables.scss" as *;

// put your custom CSS here!

article img[width] {
  width: auto !important;
  max-width: 100%;
}

/* Ocultar aliases no cabeçalho e na lista de propriedades */
.aliases,
.popover-hint,
[data-property="aliases"] {
  display: none !important;
}